<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include :: header"></head>
<body>
<form class="layui-form layui-form-pane" action="" id="saveForm">
  <input type="hidden" name="roleId" th:value="${role.roleId}" />
  <div class="layui-form-item">
    <label class="layui-form-label">角色名称 <span>*</span></label>
    <div class="layui-input-block">
      <input type="text" name="roleName" th:value="${role.roleName}"   lay-verify="required|max:50"  autocomplete="off"  class="layui-input">
    </div>
  </div>
 
  <div class="layui-form-item">
    <label class="layui-form-label">角色类型<span>*</span></label>
    <div class="layui-input-block">
      <select name="roleType"  lay-select-dict="role_type"  lay-select-title="NONE"
      th:attr="lay-select-code=${role.roleType}">
     
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">当前状态<span>*</span></label>
    <div class="layui-input-block">
      <select name="status" lay-select-dict="status" lay-select-title="NONE" th:attr="lay-select-code=${role.status}">
     
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">编辑模式<span>*</span></label>
    <div class="layui-input-block">
      <select name="editMode"  lay-select-dict="edit_mode" lay-select-title="NONE" th:attr="lay-select-code=${role.editMode}">	
      </select>
    </div>
  </div>
 <div class="layui-form-item">
    <label class="layui-form-label layui-textarea-label" >备注</label>
    <div class="layui-input-block">
      <textarea name="roleRemark"  th:text="${role.roleRemark}" lay-verify="max:400" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <!-- 隐藏域 -->
   <div class="layui-form-item" style="display:none;">
    <button class="layui-btn"  lay-submit="" lay-filter="saveSubmit">提交</button>
  </div>
</form>
  <div th:include="include :: footer"></div>
	<script>
		layui.config({
			base :  cxt+'layuiadmin/' //静态资源所在路径
		}).extend({
			webplus : 'lib/webplus', //主入口模块
		}).use([ 'form','webplus' ], function() {
		    var webplus=layui.webplus;
			webplus.initForm('system/role/update');
			
		});

	</script>
	<link rel="stylesheet"    th:href="@{/css/common/openshow.css}" media="all"/>
</body>
</html>